{% extends 'partial/layout-single-topic-live.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>results page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>

    <div class="container">
        <form action="/single-topic-live" method="post">
            <div class="form-group">
                <label for="topic">Please enter the topic.</label><br/>
                <label for="topic"><strong>Note: </strong>it should be a single word.</label><br/>
                <input class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                       type="text" id="query" name="query"><br>
            </div>
            <input onclick="return myFunction()" type="submit" name="submit_button"
                   class="btn btn-primary btn-lg btn-block" value="Start Stream">
            <input type="submit" name="submit_button" class="btn btn-primary btn-lg btn-block" value="Stop Stream">
        </form>
    </div>

    <div style="padding-bottom: 50px"></div>
    <div id="container"></div>

    </body>
    <script>
        function myFunction() {
            var topic = document.getElementById("query");

            if (topic !== null && topic.value === "") {
                alert("Please Enter a Query");
                return false;
            }

            const chart = Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                yAxis: {
                    title: {
                        text: 'tweets '
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false
                    }
                },
                data: {
                    csvURL: 'http://127.0.0.1:5000/send_data_to_single_topic_live',
                    enablePolling: true,
                    dataRefreshRate: 3
                },
                title: {
                    text: 'Sentiment status of the tweets'
                },
            });
        }
    </script>
    </html>
{% endblock %}