{% extends 'partial/layout-sentiment-analysis.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>results page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>

{#        <script src="https://code.highcharts.com/modules/exporting.js"></script>#}
{#        <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>#}

        <style>
            /* Float four columns side by side */
            .column {
                float: left;
                width: 50%;
                padding: 0 10px;
            }

            /* Remove extra left and right margins, due to padding */
            .row {
                margin: 0 -5px;
            }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            /* Responsive columns */
            @media screen and (max-width: 600px) {
                .column {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                }
            }

            /* Style the counter cards */
            .card {
                padding: 16px;
                text-align: center;
                border: none !important;
            }
        </style>
    </head>
    <body>

    <div class="container">
        <form action="/sentiment-analysis" method="post">
            <div class="form-group">
                <label for="topic">Machine learning algorithm(s) used: </label><br/>
                <label for="topic"><strong>Sentiment analysis: </strong>To analyze and find the emotion or intent behind
                    every tweet.</label><br/>
                <label for="topic"><strong>Name entity recognition: </strong>To identify named entities in a text and
                    classify them into predefined categories.</label><br/><br/>
                <label for="topic">Please choose a csv file from the static directory of the project:</label><br/>
                <div class="btn btn-primary btn-lg btn-block">
                    <label class="upload-btn">
                        <input type="file" id="input-file" name="input-file" style="display:none" onchange="changeText()"/>
                        <span id="selectedFileName" name="selectedFileName">Browse</span>
                    </label>
                </div>
            </div>
            <input onclick="return myFunction()" type="submit" name="start_button"
                   class="btn btn-primary btn-lg btn-block" value="Start">
        </form>
    </div>

    <div style="padding-bottom: 50px"></div>

    <div class="row">
        <div class="column">
            <div class="card">
                <div id="container"></div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div id="container2"></div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 50px"></div>
    <div id="container3"></div>
    <div style="padding-bottom: 50px"></div>

    <div class="row">
        <div class="column">
            <div class="card">
                <div id="container4"></div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div id="container5"></div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 50px"></div>

    </body>
    <script>
        function changeText() {
            var y = document.getElementById("input-file").files[0].name;
            document.getElementById("selectedFileName").innerHTML = y;
        }

        function myFunction() {
            var topic = document.getElementById("input-file").files[0].name;

            if (topic !== null && topic.value === "") {
                alert("Please Enter Valid Values");
                return false;
            }

            const chart = Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                yAxis: {
                    title: {
                        text: 'tweets '
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false
                    }
                },
                data: {
                    csvURL: 'http://127.0.0.1:5000/send_sentiment_data_to_sentiment_analysis',
                    enablePolling: true,
                    dataRefreshRate: 3
                },
                title: {
                    text: 'Sentiment status of the tweets'
                },
            });


            // SECOND CHART
            const chart2 = Highcharts.chart('container2', {
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                yAxis: {
                    title: {
                        text: 'retweets '
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false
                    }
                },
                data: {
                    csvURL: 'http://127.0.0.1:5000/send_retweet_data_to_sentiment_analysis',
                    enablePolling: true,
                    dataRefreshRate: 3
                },
                title: {
                    text: 'Sum of retweets per sentiment status'
                },
            });


            // THIRD CHART
            const chart3 = Highcharts.chart('container3', {
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                yAxis: {
                    title: {
                        text: 'score '
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false,
                        showInLegend: false
                    }
                },
                data: {
                    csvURL: 'http://127.0.0.1:5000/send_average_data_to_sentiment_analysis',
                    enablePolling: true,
                    dataRefreshRate: 3
                },
                title: {
                    text: 'Weekly mean of sentiment status'
                },
            });


            // FOURTH CHART
            const chart4 = Highcharts.chart('container4', {
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                yAxis: {
                    title: {
                        text: 'occurrence '
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false
                    }
                },
                data: {
                    csvURL: 'http://127.0.0.1:5000/send_GPE_data_to_sentiment_analysis',
                    enablePolling: true,
                    dataRefreshRate: 3
                },
                title: {
                    text: 'Countries, cities, states'
                },
            });




            // FIFTH CHART
            const chart5 = Highcharts.chart('container5', {
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                yAxis: {
                    title: {
                        text: 'occurrence '
                    }
                },
                xAxis: {
                    labels: {
                        enabled: false
                    }
                },
                plotOptions: {
                    series: {
                        animation: false
                    }
                },
                data: {
                    csvURL: 'http://127.0.0.1:5000/send_NORP_data_to_sentiment_analysis',
                    enablePolling: true,
                    dataRefreshRate: 3
                },
                title: {
                    text: 'Nationalities or religious or political groups'
                },
            });
        }
    </script>
    </html>
{% endblock %}
