<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container" style="padding-bottom: 40px">
    <div class="w3-bar w3-black">
        <a class="w3-bar-item w3-button w3-mobile" href="/" style="width: 50%; text-decoration: none; background-color: white; color:black; height: 80px;">Home</a>
        <a class="w3-bar-item w3-button w3-mobile" href="/single-topic-live" style="width: 50%; text-decoration: none; background-color: white; color:black; height: 80px;">Single Topic Live Tweet</a>
    </div>
</div>